* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'rubik-regular', Helvetica, Arial;
}

.hidden {
    display: none;
}

nav {
    position: fixed;
    top: 2rem;
    right: 2rem;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    padding: 1rem;
}

article.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    background-size: 75%;
    background-position: center center;
    background-blend-mode: screen;
    z-index: 10;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#hero {
    background: tomato;
    display: block;
}

    #hero h1 {
        width: 5rem;
        height: 4rem;
        position: absolute;
        left: 2rem;
        top: 2rem;
        background: transparent url(../img/logo.svg) no-repeat left top;
        background-size: 100%;
        text-indent: -20rem;
    }

#welcome {
    background: gray;
}

#about {
    background: lightsteelblue;
}

#contact {
    background: lightsalmon;
}
